In [1]:
t = (1,2,3)

In [2]:
t

(1, 2, 3)

In [3]:
my_list = [1,2,3]

In [4]:
my_list

[1, 2, 3]

In [5]:
type(t)

tuple

In [6]:
type(my_list)

list

In [7]:
len(t)

3

In [8]:
t = ("one", 3)

In [9]:
t

('one', 3)

In [10]:
t[0]

'one'

count method return how much time specipic value in the tuple

In [11]:
t.count(3)

1

index method - returns the first index of specipic value

In [12]:
t.index('one')

0

In [13]:
t.index(3)

1

In [14]:
t = (1,2,1,2,5,4,3)

In [15]:
t

(1, 2, 1, 2, 5, 4, 3)

In [16]:
t.index(3)

6

In [17]:
t.index(1)

0

In [18]:
t.count(3)

1

In [19]:
t.count(1)

2

'tuple' object does not support item assignment

In [20]:
my_list

[1, 2, 3]

In [21]:
my_list[0] = 'new'

In [22]:
my_list

['new', 2, 3]

In [23]:
t

(1, 2, 1, 2, 5, 4, 3)

In [24]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment